

  table {
    margin-top: 150px;
    position: relative;
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 85%;
    max-width: 85%;
    background-color: transparent; 
    text-align: left;
  }
  
  th {
    font-weight: bold;
    width: 100%;
    max-width: 85%;
    padding: 8px;
  }
  
  td {
    padding: 6px;
    width: auto;
    margin-left: 0px;
  }

  #blankcol {
    width: 142px;
  }

  #detailsCol {
    width: 12%;
  }

  #nameCol {
    border-left: thin;
    border-style: outset;
  }

  #phoneCol {
    border-right: thin;
    border-style: outset;
  }

  #headBody {
    border: thin;
    border-style: outset;
    border-color: rgb(222, 226, 230);
  }

  .editDel {
    border: thin;
    border-style: groove;
    border-color: rgb(222, 226, 230);
  }

  .client-caption-span {
    font-size: xx-large;
    margin-right: 8px;
    position: relative;
  }

  .client-caption {
    margin-right: 8px;
    position: relative;
  }

.createClient {
  margin-left: 20px;
  margin-bottom: 12px;
  position: relative;
}

#search-box {
  margin-left: 0;
  width: 50%;
}