<div class="main-nav">
<nav class="navbar bg-secondary" id="nav-id">
    <ul class="nav nav-tabs navtab-ul">
      <li class="nav-item">
        <a class="nav-link text-bg-secondary" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-bg-secondary" routerLink="/clients">Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-bg-secondary" routerLink="/meetings">Meetings</a>
      </li>
    </ul>
  </nav>
</div>
  <header class="header-class">
    <h1 class="display-4 h2Class">{{title}}</h1>
  </header>

<router-outlet></router-outlet>

